/* ========== CONFIGURAÇÕES GERAIS: ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f243a;
  color: #fff;
}

/* ========== HEADER: ==========*/

header,
footer {
  height: 100px;
  background-color: #2d1e3b;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > h2 {
  margin: 0 auto;
}

/* ========== CONTAINER: ==========*/

.container {
  margin: 80px auto;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas: "titulo titulo titulo";
}

/* ========== FORMULARIO: ==========*/

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  grid-template-areas:
    "titulo titulo"
    "nome nome"
    "email email"
    "telefone celular"
    "data data"
    "idade idade"
    "condicao condicao"
    "botao botao";
}

/* ========== Cabeçalho: ==========*/

.titulo {
  grid-area: titulo;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========== Input nome: ==========*/

.nome {
  display: flex;
  flex-direction: column;
}

.nome > label {
  font-size: 24px;
  margin: 10px 10px;
}

.nome > input {
  width: 440px;
  height: 25px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
}

.nome {
  grid-area: nome;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

/* ========== Input email: ==========*/

.email {
  display: flex;
  flex-direction: column;
}

.email > label {
  font-size: 24px;
  margin: 10px 10px;
}

.email > input {
  width: 440px;
  height: 25px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
}

.email {
  grid-area: email;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

/* ========== Input telefone: ==========*/

.telefone {
  display: flex;
  flex-direction: column;
}

.telefone > label {
  font-size: 24px;
  margin: 10px 10px;
}

.telefone > input {
  width: 240px;
  height: 25px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
}

.telefone {
  grid-area: email;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

.telefone {
  grid-area: telefone;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

/* ========== Input celular: ==========*/

.celular {
  display: flex;
  flex-direction: column;
}

.celular > label {
  font-size: 24px;
  margin: 10px 10px;
}

.celular > input {
  width: 240px;
  height: 25px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
}

.celular {
  grid-area: celular;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin: 0 0 10px 15px;
}

/* ========== Input data nascimento: ==========*/

.data {
  display: flex;
  flex-direction: column;
}

.data > label {
  font-size: 24px;
  margin: 10px 10px;
}

.data > input {
  width: 240px;
  height: 25px;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
}

.data {
  grid-area: data;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

/* ========== Input idade: ==========*/

.idade {
  grid-area: idade;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

/* ========== Input interesses: ==========*/

.condicao {
  grid-area: condicao;
  height: 90px;
  border-radius: 15px;
  background-color: #444054;
  margin-bottom: 15px;
}

.condicao {
  display: flex;
  height: 300px;
  flex-direction: column;
}

.botao {
  grid-area: botao;
}
